<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Node Web Server</title>
  </head>
  <body>
    {{> header}}
    <h1>{{pageTitle}}</h1>
    <p>Master and Comannder</p>

  {{> footer}}

  </body>
</html>
